# Project exclude paths
/.gradle/
/build/
/2122i-t1/build/
/2122i-t1/build/classes/kotlin/main/
/2122i-t1/build/classes/kotlin/test/
/2122i-t2/build/
/2122i-t2/build/classes/kotlin/main/
/2122i-t2/build/classes/kotlin/test/
/2122v-t1/build/
/2122v-t1/build/classes/kotlin/main/
/2122v-t1/build/classes/kotlin/test/
/2122v-t2/build/
/2122v-t2/build/classes/kotlin/main/
/2122v-t2/build/classes/kotlin/test/
/2223i-t1/build/
/2223i-t1/build/classes/kotlin/main/
/2223i-t1/build/classes/kotlin/test/
/2223i-t2/build/
/2223i-t2/build/classes/kotlin/main/
/2223i-t2/build/classes/kotlin/test/