# Project exclude paths
/.gradle/
/build/
/i2122-t2/build/
/i2122-t2/build/classes/kotlin/main/
/i2122-t2/build/classes/kotlin/test/
/v2122-t2/build/
/v2122-t2/build/classes/kotlin/main/
/v2122-t2/build/classes/kotlin/test/
/i2223-t1/build/
/i2223-t1/build/classes/kotlin/main/
/i2223-t1/build/classes/kotlin/test/
/i2223-t2/build/
/i2223-t2/build/classes/kotlin/main/
/i2223-t2/build/classes/kotlin/test/